

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-custom {
    font-family: 'Noto Sans TC', Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn {
    font-family: 'Noto Sans TC', Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
