.hide {
	display: none;
}

.hide-first {
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s;
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.hide-m {
	@media (max-width: $below-mobile) {
		display: none;
	}
}
.text-center {
	text-align: center;
}

.bg-white {
	background-color: #fff;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}
