.icon-facebook {
  width: 20px;
  height: 20px;
}

.icon-github {
  width: 55px;
  height: 55px;
}

.icon-messenger {
  width: 55px;
  height: 55px;
}

.icon-twitter {
  width: 20px;
  height: 20px;
}

