.header {
	background-color: $primary-color;
}
.header__wrapper {
	@mixin clear;
	padding-top: 22px;
	padding-bottom: 22px;
}
.header__logo {
	float: left;
	> a {
		display: block;
	}
}
.header__nav {
	float: right;
	height: 37px;
}
