.page-banner {
	margin-top: $nav-height-l;
	border-bottom: 1px solid $white-light;
}

.page-banner__container {

}
.page-banner__heading {
	@mixin heading-style-l;
	letter-spacing: 0.05em;
	padding: 40px 0;
}
