.page-banner {
	background-color: #fff;
	margin-top: $nav-height-l;
	border-bottom: 1px solid $white-light;
	position: relative;
}

.page-banner__container {
	height: 185px;
}
.page-banner__heading {
	display: inline-block;
	@mixin heading-style-l;
	letter-spacing: 0.05em;
	padding-top: 40px;
	vertical-align: bottom;
}
