.share-buttons {
	text-align: center;
}

.share-buttons__item {
	display: inline-block;
	margin: 0 15px;
	@media (max-width: $below-small) {
		margin-bottom: 10px;
	}
}

.like-fb-word {
	a {
		text-decoration: underline;
	}
}
