$below-medium: 1280px;
$below-desktop: 1024px;
$below-small: 850px;
$below-tablet: 767px;
$below-mobile: 550px;

$above-medium: 1281px;
$above-desktop: 1025px;
$above-small: 851px;
$above-tablet: 768px;
$above-mobile: 551px;
