/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
$inner-wrap-l: 1260px;
$inner-wrap-m: 860px;
$inner-wrap-s: 550px;

$nav-height-l: 84px;
$nav-height-s: 50px;

/* ------------------------------------
 *  Color
 * ------------------------------------ */
$primary-color: #fcd406;
$yellow-light: #fffbe8;

$gray: #b4b4b4;
$gray-dark: #777;
$gray-light: #eeeeed;

$white-light: #f4f4f4;


/* ------------------------------------
 *  Font
 * ------------------------------------ */
$primary-font: "Helvetica Neue", "Helvetica", "Arial", "PingFang TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;

/* ------------------------------------
 *  Gutter
 * ------------------------------------ */
$block-gutter-l: 70px;
$block-gutter-m: 40px;
$block-gutter-s: 20px;
$page-gutter: 40px;
$page-gutter-s: 20px;

$bold: 700;
