.ui-autocomplete {
  background: #fff;
  border-radius: 0px;
}
.ui-menu .ui-menu-item-wrapper {
  padding: 6px 10px;
}
.ui-autocomplete .ui-state-active {
  background: #f1f1f1 !important;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #000 !important;
}
