select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("../img/common/select-arrow.svg") center right no-repeat;
	background-color: #fff;
}

/* remove ie arrow */
select::-ms-expand {
	display: none;
}
