- var site_name = "工時薪資透明化運動"
- var site_description = "分享你的真實工時、薪資資訊，讓我們一起改善工作資訊不透明的現況";
block vars

doctype html
html(lang="zh")
	head
		meta(charset="utf-8")
		meta(http-eqiv="X-UA-Compatible" content="IE=edge,chrome=1")
		title #{page_title} | #{site_name}
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
		link(rel="icon" type="image/png" href="/assets/img/common/favicon.ico")
		link(rel="stylesheet" href="/assets/css/style.css")

		link(rel="canonical", href=""+page_url)
		meta(name="description", content=""+site_description)
		meta(property='og:type', content="website")
		meta(property='og:locale', content="zh_TW")
		meta(property="og:title", content=""+page_title + " | " +site_name)
		meta(property="og:description" content=""+site_description)
		meta(property="og:url" content="https://worktime.goodjob.life/"+page_url)
		meta(property="og:site_name" content=""+site_name)
		meta(property="og:image" content="https://worktime.goodjob.life/assets/img/common/og-image_1200-630.png")

		| <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-79990667-1', 'auto');
			ga('send', 'pageview');

	body(class="site "+bodyClass)
		div(id="fb-root")
		div(style="display:none")
			include ./partials/svg-symbols.svg
		include ./partials/_header.pug
		main(class="site-main")
			block content
		include ./partials/_footer.pug

		// add dependencies
		script(src='/assets/js/dependencies.js')
		script(src='/assets/js/global.js')
		block scripts
