extends ./_layout.pug
block vars
	- var bodyClass = "body-index";
	- var page_url = "index.html";
	- var page_title = "首頁";

block content
	div(class="home-banner")
		div(class="wrapper-l")
			div(class="home-banner__img")
				img(src="/assets/img/home-banner.png")
			div(class="home-banner__heading")
				div
					h1 工時透明化運動
					h2 分享你的真實工時資訊，讓我們一起改善工時不透明的現況！
