extends ./_layout.pug
block vars
	- var bodyClass = "body-show body-gray";
	- var page_url = "show.html";
	- var page_title = "查看工時";

block content
	section(class="page-banner")
		div(class="wrapper-l page-banner__container")
			h1(class="page-banner__heading") 查看工時
			button(class="btn-s btn-yellow-line" id="btn-latest") <svg role="img" class="star"><use xlink:href="#star"></use></svg>最新
			img(src="/assets/img/workers.jpg" class="page-banner__image")
	div(class="wrapper-m")
		section(class="section show-searchbar" id="section-search")
			div(class="show-searchbar__type")
				div(class="form-group form-group--inline")
					div(class="select-form")
						input(type="radio" id="btn-company" name="search-type" class="" checked)
						label(for="btn-company" class="select-form__label")
							span(class="radio-input")
							span(class="radio-text") 公司
					div(class="select-form")
						input(type="radio" id="btn-position" name="search-type")
						label(for="btn-position" class="select-form__label")
							span(class="radio-input")
							span(class="radio-text") 職稱
			div(class="show-searchbar__form" id="section-search-company")
				form(class="search-bar" id="")
					input(type="text" placeholder="輸入公司 / 單位名稱" class="search-bar__input" id="" name="")
					button(class="btn-black search-bar__button" type="submit") 搜尋
			div(class="show-searchbar__form hide" id="section-search-position")
				form(class="search-bar" id="")
					input(type="text" placeholder="輸入公司 / 單位名稱" class="search-bar__input" id="" name="")
					button(class="btn-black search-bar__button" type="submit") 搜尋
	div(class="wrapper-l")
		section(class="search-result")
			h2(class="section__heading" id="search-result-heading") 搜尋 “<span class="search-query">醫院</span>” 的工時結果
			div(class="search-result__result")
				//search-company-table
				div(class="search-result-list accordion")
					div(class="accordion__item search-result-list__item")
						button(class="accordion__trigger")
							h3(class="search-result-list__heading") 彰化基督教兒童醫院
							span(class="accordion__icon icon-plus")
						div(class="accordion__content")
							div(class="search-result-list__content")
								div(class="result-fee-off")
									div(class="result-fee-off__item")
										h4(class="result-fee-off__heading") <svg><use xlink:href="#icon-coin"></use></svg> 加班有無加班費
										div(class="result-fee-off__contnet")
											div(class="result-fee-off__yes")
												div
													div(class="result-fee-off-name") 有
													ul(class="yes-extra")
														li
															span(class="yes-extra__heading") 優於或符合勞基法
															span(class="yes-extra__number result-fee-off-num") 10
														li
															span(class="yes-extra__heading") 不符合勞基法
															span(class="yes-extra__number result-fee-off-num") -
														li
															span(class="yes-extra__heading") 不清楚是否符合勞基法
															span(class="yes-extra__number result-fee-off-num") -
											div(class="result-fee-off__no")
												div
													div(class="no-extra")
														span(class="result-fee-off-name") 沒有
														span(class="result-fee-off-num") 13
													div(class="no-extra")
														span(class="result-fee-off-name") 不知道
														span(class="result-fee-off-num") 6
									div(class="result-fee-off__item")
										h4(class="result-fee-off__heading") <svg><use xlink:href="#icon-clock"></use></svg> 加班有無補修
										div(class="result-fee-off__contnet")
											div(class="result-fee-off__yes")
												div
													div(class="result-fee-off-name") 有
													div(class="result-fee-off-num") 10
											div(class="result-fee-off__no")
												div
													div(class="no-extra")
														span(class="result-fee-off-name") 沒有
														span(class="result-fee-off-num") 13
													div(class="no-extra")
														span(class="result-fee-off-name") 不知道
														span(class="result-fee-off-num") 6
							table(class="rwd-table company-table")
								thead
									tr
										th(class="col-position")
											span 職稱
											span(class="table-sector") 廠區/門市/分公司
										th(class="col-day-promise") 日表訂工時
										th(class="col-day-real") 日實際平均工時
										th(class="col-week-time") 一週總工時（小時）
										th(class="col-frequency") 加班頻率
								tbody
									tr
										td(data-th="職稱 (廠區/門市/分公司)")
											span(class="rwd-td")
												span 副組長
												span(class="table-sector") -
										td(data-th="日表訂工時")
											span(class="rwd-td") 8
										td(data-th="日實際平均工時")
											span(class="rwd-td") 8
										td(data-th="一週總工時")
											span(class="rwd-td")
												span(class="table-time-bar") 90
										td(data-th="加班頻率")
											span(class="rwd-td")
												span(class="table-frequency-circle")
												| 經常
				// search-position-table
				div(class="search-result-list")
					div(class="search-result-list__item")
						h3(class="search-result-list__heading") 高級電子工程師
						table(class="rwd-table company-table")
								thead
									tr
										th(class="col-company") 公司名稱
										th(class="col-day-promise") 日表訂工時
										th(class="col-day-real") 日實際平均工時
										th(class="col-week-time") 一週總工時（小時）
										th(class="col-frequency") 加班頻率
								tbody
									tr
										td(data-th="公司名稱")
											span(class="rwd-td") 華碩電腦股份有限公司
										td(data-th="日表訂工時")
											span(class="rwd-td") 8
										td(data-th="日實際平均工時")
											span(class="rwd-td") 8
										td(data-th="一週總工時")
											span(class="rwd-td")
												span(class="table-time-bar") 90
										td(data-th="加班頻率")
											span(class="rwd-td")
												span(class="table-frequency-circle")
												| 經常
				// latest-table
				table(class="rwd-table latest-table")
					thead
						tr
							th(class="col-company") 公司名稱
							th(class="col-position")
								span 職稱
								span(class="table-sector") 廠區/門市/分公司
							th(class="col-time") 一週總工時（小時）
							th(class="col-frequency") 加班頻率
					tbody(id="tbody-latest-data")
				div(class="search-result-status")
					div(class="status-loading hide")
					div(class="status-no-result hide") 找不到結果
	button(class="back-to-search") <svg><use xlink:href="#icon-magnifying"></use></svg>
block scripts
	script(src="/assets/js/show.js")
