extends ./_layout.pug
block vars
	- var bodyClass = "body-show body-gray";
	- var page_url = "show.html";
	- var page_title = "查看工時";

block content
	section(class="page-banner")
		div(class="wrapper-l page-banner__container")
			h1(class="page-banner__heading") 查看工時
			div(class="page-banner__btns")
				a(class="btn-s btn-yellow-line" href="#/sort/created-at-descending") <svg role="img" class="star"><use xlink:href="#star"></use></svg>最新資料
				a(class="btn-s btn-yellow-line" href="#/sort/work-time-descending") <svg role="img" class="icon-sort"><use xlink:href="#icon-sort"></use></svg>工時排行
				a(class="btn-s btn-yellow-line" href="#/sort/salary-descending") <svg role="img" class="icon-sort"><use xlink:href="#icon-sort"></use></svg>時薪排行
			img(src="/assets/img/workers.jpg" class="page-banner__image")
	div(class="wrapper-m")
		section(id="call-to-share-data" v-show="! share.is_authed")
			div(class="dashed-line-box")
				div(class="not-login" v-bind:class="{ 'hide': share.is_logged_in }")
					| 哈囉！請先
					button(class="btn-login") <svg role="img" class="icon-facebook"><use xlink:href="#icon-facebook"></use></svg> 登入
					| 才能查看完整薪資工時資訊喔
				div(class="logined" v-bind:class="{ 'hide': !share.is_logged_in }")
					| 請留下至少一筆資料，才能查看完整薪資、工時資訊。
					br
					| 沒有工作經驗嗎？沒有關係，分享以下連結給朋友，朋友留了資料，系統將開放您完整權限。
					div(class="share-link")
						div(class="link")
							input(type="text" v-model="user_link" id="user-link")
						| <svg role="img" class="icon-form-checked" id="user-link-icon"><use xlink:href="#form-checked" ></use></svg>
						button(class="button" data-copytarget="#user-link") 複製連結
				div(class="dashed-line-box__buttons")
					a(class="btn-m btn-black" href="/#section-form") 馬上留資料
					div(class="btn-m btn-yellow" id="share-rec-url" v-on:click="shareLink" v-show="user_link") fb 貼文分享
		section(class="section show-searchbar", id="section-search", :class="{ 'is-disabled': !share.is_authed}")
			div(class="show-searchbar__type")
				div(class="form-group form-group--inline")
					div(class="radio-form")
						input(type="radio" id="btn-company" name="search-type" v-model="search_type" value="by-company")
						label(for="btn-company" class="radio-circle")
							span(class="radio-input")
							span(class="radio-text") 公司
					div(class="radio-form")
						input(type="radio" id="btn-position" name="search-type" v-model="search_type" value="by-job-title")
						label(for="btn-position" class="radio-circle")
							span(class="radio-input")
							span(class="radio-text") 職稱
			div(class="show-searchbar__form")
				form(class="search-bar" id="" v-on:submit.prevent="onSubmit")
					input(type="text" placeholder="輸入公司 / 單位名稱" class="search-bar__input" id="search-bar-input" name="keyword" v-model="keyword")
					button(class="search-bar__button" type="submit") 搜尋
	div(class="wrapper-l" id="app")
		component(:is="currentView" keep-alive)
	template(id="app-search-and-group-by-company")
		include partials/_show_search_and_group_by_company.pug
	template(id="app-search-and-group-by-job-title")
		include partials/_show_search_and_group_by_job_title.pug
	template(id="app-time-and-salary")
		include partials/_show_time_and_salary.pug
block scripts
	script(src="/assets/js/show.js")
