extends ./_layout.pug
block vars
	- var bodyClass = "body-user-term";
	- var page_url = "user-term.html";
	- var page_title = "使用者條款";

block content
	section(class="banner")
		div(class="wrapper-l" style="height: 50vh")
			| test
