extends ./_layout.pug
block vars
	- var bodyClass = "body-user-term";
	- var page_url = "user-term.html";
	- var page_title = "使用者條款";

block content
	section(class="page-banner page-banner--gray-pattern")
		div(class="wrapper-l page-banner__container")
			h1(class="page-banner__heading") 使用者條款
	div(class="wrapper-m")
		section(class="section html-editor")
			p GoodJob 歡迎您！ 一旦您使用 GoodJob的 產品、軟體、網站或服務（以下簡稱「GoodJob 服務」），即代表您同意遵守以下條款。我們未來有可能修訂本條款，您將會於本頁面或公告指定的頁面找到此條款的最新版本。
			ul
				li GoodJob 服務所呈現的所有內容，包含文字、數值、標記、圖片、聲音、影片、資訊、訊息或其他資料(以下簡稱「內容」)，皆由內容之提供者負所有責任與義務。此外，本網站有權刪除受爭議的內容。
				li 欲轉載 GoodJob 服務之內容，有明確版權者，請遵循原內容版權；未有明確版權者，請註明來源。
