.company-table {
  .col-position,
  .col-company {
    width: 18%;
  }
  .col-type {
    width: 9%;
  }
  .col-day-time {
    width: 10%;
  }
  .col-week-time {
    width: 10%;
  }
  .col-frequency {
    width: 11%;
  }
  .col-experience {
    width: 8%;
  }
  .col-salary {
    width: 13%;
  }
  .col-hourly {
    width: 10%;
  }
  .col-data-time {
    width: 10%;
  }
  &.rwd-table th {
    padding-top: 15px;
  }
}
