.company-table {
  .col-position {
    width: 25%;
  }
  .col-day-promise {
    width: 20%;
  }
  .col-day-real {
    width: 20%;
  }
  .col-week-time {
    width: 20%;
  }
  .col-frequency {
    width: 15%;
  }
}
