.company-table {
  .col-position,
  .col-company {
    width: 30%;
  }
  .col-day-promise {
    width: 17%;
  }
  .col-day-real {
    width: 18%;
  }
  .col-week-time {
    width: 20%;
  }
  .col-frequency {
    width: 15%;
  }
  &.rwd-table th {
    padding-top: 15px;
  }
}
