.latest-table {
  background-color: #fff;
  .col-company {
    width: 25%;
  }
  .col-position {
    width: 21%;
  }
  .col-week-time {
    width: 10%;
  }
  .col-frequency {
    width: 10%;
  }
  .col-salary {
    width: 14%;
  }
  .col-hourly {
    width: 10%;
  }
  .col-data-time {
    width: 10%;
  }
}
