.latest-table {
  th {
    line-height: 1.2em;
  }
  background-color: #fff;
  .col-company {
    width: 27%;
  }
  .col-position {
    width: 23%;
  }
  .col-week-time {
    width: 17%;
  }
  .col-frequency {
    width: 11%;
  }
  .col-salary {
    width: 12%;
  }
  .col-time {
    width: 10%;
  }
  .data-time {
    font-size: 0.95em;
    color: $gray;
  }
}
