.latest-table {
  background-color: #fff;
  .col-company {
    width: 27%;
  }
  .col-position {
    width: 21%;
  }
  .col-week-time {
    width: 10%;
  }
  .col-frequency {
    width: 11%;
  }
  .col-salary {
    width: 12%;
  }
  .col-hourly {
    width: 9%;
  }
  .col-data-time {
    width: 10%;
  }
}
