footer(class="footer" id="site-footer")
  section(class="footer__header")
    div(class="wrapper-l footer__inner")
      div(class="footer__logo")
        include ./_logo.pug
      h1(class="footer__heading") 透明資訊求職平台
      span(class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/goodjob.life/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false" data-reactid="186" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=1844389232511081&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fgoodjob.life%2F&amp;layout=button_count&amp;locale=zh_TW&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=small")
        span(style="vertical-align: bottom; width: 76px; height: 20px;")
          iframe(name="f8af41d2d517d" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" style="border: medium none; visibility: visible; width: 76px; height: 20px;" src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=1844389232511081&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FXBwzv5Yrm_1.js%3Fversion%3D42%23cb%3Df302a6fb52d5b28%26domain%3Dwww-stage.goodjob.life%26origin%3Dhttps%253A%252F%252Fwww-stage.goodjob.life%252Ff1534230887d3b6%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fgoodjob.life%2F&amp;layout=button_count&amp;locale=zh_TW&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=small" class="" width="1000px" height="1000px" frameborder="0")
  div(class="wrapper-l footer__body")
    section(class="footer__links")
      div(class="footer__link-item")
        h4(class="footer__link-item__heading") 求職者工具
        a(class="footer__link-item__link" href="/share/time-and-salary") 薪資工時
        a(class="footer__link-item__link" href="/experiences/search") 面試・工作經驗
        a(class="footer__link-item__link" href="/labor-rights") 勞動小教室
      div(class="footer__link-item")
        h4(class="footer__link-item__heading") 常見問題
        a(class="footer__link-item__link" href="/guidelines") 發文留言規定
        a(class="footer__link-item__link" href="/faq") 常見問題
        a(class="footer__link-item__link" href="/privacy-policy") 隱私權政策
        a(class="footer__link-item__link" href="/user-terms") 使用者條款
      div(class="footer__link-item")
        h4(class="footer__link-item__heading") Goodjob
        a(class="footer__link-item__link" href="/about") 關於我們
        a(class="footer__link-item__link" href="/contact") 聯絡我們
        a(class="footer__link-item__link" href="/recruit") 加入我們
    section(class="footer__medias")
      h4(class="footer__medias__heading") \ 感謝各大媒體採訪報導 /
      a(class="footer__link-item__link" href="/about")
        img(src="https://s3-ap-northeast-1.amazonaws.com/goodjob.life/www/medias.jpg" alt="cheers yahoo 蘋果日報 數位時代")
  div(class="footer__footer")
    div(class="wrapper-l footer__footer__inner")
      div(class="p-s") Copyright © GoodJob.life team 2017
      div(class="footer__footer__g0v")
        a(href="https://grants.g0v.tw/power/" alt="power by g0v")
          img(src="https://s3-ap-northeast-1.amazonaws.com/goodjob.life/www/logo-g0v-white.svg" alt="g0v")
