footer(class="footer" id="site-footer")
  div(class="wrapper-l")
    div(class="footer__col-1")
      div(class="footer__logo")
        include ./_logo.pug
      div(class="footer__content")
        p Copyright©GoodJob.life team 2016
        p <a href="/user-term">使用者條款</a>與<a href="/privacy-policy">隱私權政策</a> Emoji provided free by <a href="http://emojione.com/">EmojiOne</a>
    div(class="footer__col-2")
      div(class="share-buttons")
        a(href="https://github.com/goodjoblife" class="share-buttons__item") <svg class="footer-gitgub" role="img"><use xlink:href="#footer-github"></use></svg>
        a(href="https://www.facebook.com/goodjob.life/" class="share-buttons__item") <svg class="footer-facebook" role="img" ><use xlink:href="#footer-facebook"></use></svg>
