header(class="header" id="header")
  div(class="wrapper-l header__wrapper")
    div(class="m-header-button" id="header-button")
      span
    div(class="header__logo")
      a(href="/")
        include ./_logo.pug
    nav(class="header__nav" id="header-nav")
      ul(class="site-menu")
        li(class="site-menu__item")
          a(href="/#section-form" class="js-scrollToForm js-scrollpage") 開始參與
        li(class="site-menu__item")
          a(href="/show.html") 查看工時
        li(class="site-menu__item")
          a(href="/#section-faq" class="js-scrollToFaq js-scrollpage") 常見問答
        li(class="site-menu__item")
          a(href="/about.html") 關於我們
    div(class="header__user")
      svg(role="img" class="icon-user")
        use(xlink:href="#icon-user")
      div(class="login-block")
        div(class="name")
        button(class="btn-login hide") 登入
