header(class="header")
  div(class="wrapper-l header__wrapper")
    div(class="header__logo")
      a(href="/")
        include ./_logo.pug
    nav(class="header__nav")
      ul(class="site-menu")
        li(class="site-menu__item")
          a(href="/") home 1
        li(class="site-menu__item")
          a(href="/") home 2
        li(class="site-menu__item")
          a(href="/") home 3
