header(class="header" id="header")
  div(class="wrapper-l header__wrapper")
    div(class="m-header-button" id="header-button")
      span
    div(class="header__logo")
      a(href="/")
        include ./_logo.pug
    nav(class="header__nav" id="header-nav")
      ul(class="site-menu")
        li(class="site-menu__item")
          a(href="/share/time-and-salary") 薪資工時
        li(class="site-menu__item")
          a(href="/experiences/search") 面試・工作經驗
        li(class="site-menu__item")
          a(href="/labor-rights") 勞動小教室
      div(class="header__user")
        a(href="/share" class="leave-data-btn") 留下資料
          svg(width="148" height="148" viewBox="0 0 148 148" style="width:20px;height:20px;margin-left:8px")
            path(fill="#fff" d="M104.7581,108.714073 C103.3114,110.153697 103.3114,112.480659 104.7581,113.920282 C106.2048,115.359906 108.5432,115.359906 109.9899,113.920282 L146.9122,77.1785836 C147.6115,76.4937499 148,75.5585468 148,74.5791609 C148,74.5533876 147.9852,74.5276143 147.9852,74.501841 C147.9852,74.4760676 148,74.4539762 148,74.424521 C148,73.1984477 147.3599,72.1675152 146.4349,71.497409 L109.8382,35.0797177 C108.3915,33.6400941 106.0531,33.6400941 104.6064,35.0797177 C103.1597,36.5193413 103.1597,38.8463033 104.6064,40.285927 L135.2128,70.7426192 L3.7,70.7426192 C1.6539,70.7426192 0,72.3884293 0,74.424521 C0,76.4606127 1.6539,78.1064229 3.7,78.1064229 L135.5236,78.1064229 L104.7581,108.714073 L104.7581,108.714073 L104.7581,108.714073 Z")
        svg(role="img" class="icon-user" width="148" height="148" viewBox="0 0 148 148")
          path(fill="#fff" d="M63.834 61.199c-.767-3.404-6.562-24.541-31.855-24.541C4.607 36.658.071 61.406.028 61.657A2.006 2.006 0 0 0 2.004 64h59.992a2.005 2.005 0 0 0 1.838-2.801zM4.575 59.988c1.742-5.632 7.977-19.317 27.403-19.317S57.64 54.356 59.382 59.988H4.575zM31.977 32.895c9.063 0 16.436-7.377 16.436-16.447C48.412 7.379 41.04 0 31.977 0c-9.06 0-16.43 7.379-16.43 16.447 0 9.071 7.37 16.448 16.43 16.448zm0-28.883c6.854 0 12.428 5.578 12.428 12.436 0 6.856-5.573 12.436-12.428 12.436-6.849 0-12.422-5.579-12.422-12.436 0-6.858 5.573-12.436 12.422-12.436z")
        div(class="login-block")
          div(class="name")
          button(class="btn-login hide") 登入
