header(class="header" id="header")
  div(class="wrapper-l header__wrapper")
    div(class="m-header-button" id="header-button")
      span
    div(class="header__logo")
      a(href="/")
        include ./_logo.pug
    nav(class="header__nav" id="header-nav")
      ul(class="site-menu")
        li(class="site-menu__item")
          a(href="/time-and-salary") 薪資工時
        li(class="site-menu__item")
          a(href="/experiences/search") 面試・工作經驗
        li(class="site-menu__item")
          a(href="/labor-rights") 勞動小教室
      div(class="header__user")
        a(href="/share" class="leaveDataBtn") 留下資料
          svg(width="148" height="148" viewBox="0 0 148 148" style="width:20px;height:20px;margin-left:8px")
            path(fill="#fff" d="M104.7581,108.714073 C103.3114,110.153697 103.3114,112.480659 104.7581,113.920282 C106.2048,115.359906 108.5432,115.359906 109.9899,113.920282 L146.9122,77.1785836 C147.6115,76.4937499 148,75.5585468 148,74.5791609 C148,74.5533876 147.9852,74.5276143 147.9852,74.501841 C147.9852,74.4760676 148,74.4539762 148,74.424521 C148,73.1984477 147.3599,72.1675152 146.4349,71.497409 L109.8382,35.0797177 C108.3915,33.6400941 106.0531,33.6400941 104.6064,35.0797177 C103.1597,36.5193413 103.1597,38.8463033 104.6064,40.285927 L135.2128,70.7426192 L3.7,70.7426192 C1.6539,70.7426192 0,72.3884293 0,74.424521 C0,76.4606127 1.6539,78.1064229 3.7,78.1064229 L135.5236,78.1064229 L104.7581,108.714073 L104.7581,108.714073 L104.7581,108.714073 Z")
        div(class="login-block")
          svg(role="img" width="148" height="148" viewBox="0 0 148 148")
            path(fill="#fff" d="M147.616125 141.522687C145.842438 133.650937 132.4415 84.771625 73.9514375 84.771625 10.6536875 84.771625.1641875 142.001375.06475 142.581812-.161875 143.925375.208125 145.30825 1.0915 146.351187 1.9725625 147.396437 3.269875 148 4.63425 148L143.270938 148 143.36575 148C145.921063 148 148 145.925687 148 143.361125 148 142.709 147.863563 142.082312 147.616125 141.522687zM10.5796875 138.72225C14.6080625 125.69825 29.0265 94.0516875 73.949125 94.0516875 118.87175 94.0516875 133.2925 125.69825 137.320875 138.72225L10.5796875 138.72225zM73.9468125 76.0696875C94.905 76.0696875 111.955062 59.010375 111.955062 38.036 111.95275 17.0639375 94.905 0 73.9468125 0 52.9955625 0 35.9524375 17.0639375 35.9524375 38.0336875 35.9524375 59.010375 52.9955625 76.0696875 73.9468125 76.0696875L73.9468125 76.0696875zM73.9468125 9.27775C89.7966875 9.27775 102.686563 22.176875 102.686563 38.036 102.686563 53.8905 89.799 66.79425 73.9468125 66.79425 58.1085 66.79425 45.2209375 53.8928125 45.2209375 38.036 45.2209375 22.176875 58.1085 9.27775 73.9468125 9.27775z")
          div(class="name")
          button(class="btn-login hide") 登入
