section(class="search-result")
	h2(class="section__heading") {{search_result_sort | time_and_salary_section_title}}
	div(class="search-result__result")
		div(class="search-result__sort")
			div(class="label") 排序：
			select(id="" name="" v-model="search_result_sort" v-bind:disabled="!share.is_authed" @change="sortOnChange()")
				option(v-bind:value='{"sort_by":"week_work_time","order":"descending"}') 一週平均總工時（高到低）
				option(v-bind:value='{"sort_by":"week_work_time","order":"ascending"}') 一週平均總工時（低到高）
				option(v-bind:value='{"sort_by":"estimated_hourly_wage","order": "descending"}') 估算時薪（高到低）
				option(v-bind:value='{"sort_by":"estimated_hourly_wage","order": "ascending"}') 估算時薪（低到高）
				option(v-bind:value='{"sort_by":"created_at","order":"descending"}') 資料時間（高到低）
				option(v-bind:value='{"sort_by":"created_at","order":"ascending"}') 資料時間（低到高）
		table(class="rwd-table latest-table", :class="{ 'is-disabled':  !share.is_authed}")
			thead
				tr
					th(class="col-company") 公司名稱
					th(class="col-position")
						span 職稱
						span(class="table-sector") 廠區/門市/分公司
					th(class="col-week-time") 一週總工時
					th(class="col-frequency") 加班頻率
					th(class="col-salary") 薪資
					th(class="col-hourly") 估計時薪
					th(class="col-data-time") 資料時間
			tbody(id="tbody-latest-data")
				tr(v-for="w in time_and_salary")
					td(data-th="公司名稱")
						span(class="rwd-td")
							a(href="#/company/{{encodeURIComponent(w.company ? w.company.name : '')}}/work-time-dashboard") {{w.company ? w.company.name : ""}}
					td(data-th="職稱 (廠區/門市/分公司)")
						span(class="rwd-td")
							span
								a(href="#/job-title/{{encodeURIComponent(w.job_title)}}/work-time-dashboard") {{w.job_title}}
							span(class="table-sector") {{w.sector}}
					td(data-th="一週總工時")
						span(class="rwd-td")
							span(class="table-time-bar" data-time="{{w.week_work_time}}" v-bind:style="{ width: w.week_work_time + 'px' }") {{w.week_work_time}}
					td(data-th="加班頻率")
						span(class="rwd-td")
							span(class="table-frequency-circle" data-frequency="{{w.overtime_frequency}}")
							| {{w.overtime_frequency | overtime_frequency_string}}
					td(data-th="薪資")
						span(class="rwd-td") {{w.salary.amount | formatted_wage_string}} / {{w.salary.type | salary_type_string}}
					td(data-th="估計時薪")
						span(class="rwd-td") {{w.estimated_hourly_wage | formatted_wage_string}} 元
					td(data-th="資料時間")
						span(class="rwd-td")
							span(class="data-time") {{w.data_time.year}} / {{w.data_time.month}}
	div(class="search-result__status")
		div(class="status-loading" v-show="is_loading")
		div(class="status-no-result" v-show="workings.length == 0 && is_loading === false") 找不到結果
	section(class="wrapper-m" v-show="! share.is_authed")
		div(class="dashed-line-box")
			div(class="bottom")
				| 目前僅顯示：{{time_and_salary.length}} 筆，總共有 {{total}} 筆
