section(class="search-result")
	h2(class="section__heading" id="search-result-heading") 搜尋 “<span class="search-query">醫院</span>” 的工時結果
		div(class="search-result-list")
			div(class="search-result-list__item")
				h3(class="search-result-list__heading") 高級電子工程師
				table(class="rwd-table company-table")
						thead
							tr
								th(class="col-company") 公司名稱
								th(class="col-day-promise") 日表訂工時
								th(class="col-day-real") 日實際平均工時
								th(class="col-week-time") 一週總工時（小時）
								th(class="col-frequency") 加班頻率
						tbody
							tr
								td(data-th="公司名稱")
									span(class="rwd-td") 華碩電腦股份有限公司
								td(data-th="日表訂工時")
									span(class="rwd-td") 8
								td(data-th="日實際平均工時")
									span(class="rwd-td") 8
								td(data-th="一週總工時")
									span(class="rwd-td")
										span(class="table-time-bar") 90
								td(data-th="加班頻率")
									span(class="rwd-td")
										span(class="table-frequency-circle")
										| 經常
	div(class="search-result-status")
		div(class="status-loading hide")
		div(class="status-no-result hide") 找不到結果
