section(class="search-result")
	h2(class="section__heading")  “<span class="search-query">{{job_title_keyword}}</span>” 的{{section_title}}
	div(class="search-result__result")
		div(class="search-result__sort")
			div(class="label") 排序：
			select(id="" name="" v-model="search_result_sort" v-bind:disabled="!share.is_authed" @change="sortOnChange()")
				option(v-bind:value='{"group_sort_by":"week_work_time","order":"descending"}') 一週平均總工時（高到低）
				option(v-bind:value='{"group_sort_by":"week_work_time","order":"ascending"}') 一週平均總工時（低到高）
				option(v-bind:value='{"group_sort_by":"estimated_hourly_wage","order": "descending"}') 估算時薪（高到低）
				option(v-bind:value='{"group_sort_by":"estimated_hourly_wage","order": "ascending"}') 估算時薪（低到高）
		div(class="search-result-list accordion")
			div(class="accordion__item search-result-list__item" v-for="g in data")
				button(class="accordion__trigger")
					div(class="search-result-list__heading")
						h3(class="name") {{g.company ? g.company.name : ""}}
						div(class="sort-item" v-if="search_result_sort.group_sort_by==='estimated_hourly_wage'")
							div
								span(class="heading") 平均估計時薪：
								span(class="value") {{g.average.estimated_hourly_wage | formatted_wage_string}} 元
						div(class="sort-item" v-else v-show="g.average.week_work_time")
							div
								span(class="heading") 平均一週總工時：
								span(class="value") {{g.average.week_work_time.toFixed(1)}} 小時
					span(class="accordion__icon") <svg role="img"><use xlink:href="#icon-minus"></use></svg>
				div(class="accordion__content")
					table(class="rwd-table company-table")
						thead
							tr
								th(class="col-position") 職稱
								th(class="col-type") 職務型態
								th(class="col-day-time") 表訂 / <br>實際工時
								th(class="col-week-time") 一週總工時
								th(class="col-frequency") 加班頻率
								th(class="col-experience") 業界工作經歷
								th(class="col-salary align-right") 薪資
								th(class="col-hourly align-right")
									<div data-modal-id="info-salary" data-info-button>估計時薪</div>
								th(class="col-data-time")
									<div data-modal-id="info-time" data-info-button>參考時間</div>
						tbody
							tr(v-for="working in g.time_and_salary")
								td(data-th="職稱")
									span(class="rwd-td")
										span {{working.job_title}}
										span(class="table-sector") {{working.sector}}
								td(data-th="職務型態")
									span(class="rwd-td") {{working.employment_type | employment_type_string}}
								td(data-th="表訂 / 實際工時")
									span(class="rwd-td")
										span(v-if="working.day_promised_work_time")
											| {{working.day_promised_work_time}} / {{working.day_real_work_time}}
										span(v-else) -
								td(data-th="一週總工時")
									span(class="rwd-td")
										span(v-if="working.week_work_time")
											span(class="table-time-bar" data-time="{{working.week_work_time}}" v-bind:style="{ width: working.week_work_time + 'px' }") {{working.week_work_time}}
										span(v-else) -
								td(data-th="加班頻率")
									span(class="rwd-td")
										span(v-if="working.overtime_frequency | overtime_frequency_string")
											span(class="table-frequency-circle" data-frequency="{{working.overtime_frequency}}")
											span {{working.overtime_frequency | overtime_frequency_string}}
										span(v-else) -
								td(data-th="業界工作經歷")
									span(class="rwd-td")
										span(v-if="working.experience_in_year")
											span(v-if="working.experience_in_year > 0") {{working.experience_in_year}} 年
											span(v-else) 小於 1 年
										span(v-else) -
								td(data-th="薪資")
									span(class="rwd-td align-right")
										span(v-if="working.salary.amount | formatted_wage_string")
											| {{working.salary.amount | formatted_wage_string}} / {{working.salary.type | salary_type_string}}
										span(v-else) -
								td(data-th="估計時薪")
									span(class="rwd-td align-right")
										span(v-if="working.estimated_hourly_wage | formatted_wage_string")
											| {{working.estimated_hourly_wage | formatted_wage_string}} 元
										span(v-else) -
								td(data-th="參考時間")
									span(class="rwd-td")
										span(class="data-time") {{working.data_time.year}}.{{working.data_time.month | two_digit_month}}
	div(class="search-result__status")
		div(class="status-loading" v-show="is_loading")
		div(class="status-no-result" v-show="data.length == 0 && is_loading === false") 找不到結果
