.heading {

}

.heading__heading {
  @mixin heading-style;
  text-align: center;
  margin-bottom: $block-gutter-l;
}

.heading__icon {
  margin-bottom: $block-gutter-m;
  svg {
    display: block;
    margin: 0 auto;
  }
}
